<style>
    body {
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vmin;
        background-image:url(https://wallpaperstock.net/windows-7-wallpapers_55272_1920x1200.jpg)
    }
    .login-form {
        background-color: rgb(255, 255, 255, 0.7);
        padding: 30px;
        width: 250px;
        border-radius: 30px;
        
    }
    .input-form {
        padding: 10px;
    }
    .input-box {
        display: flex;
        margin: 20px;
    }
    label {
        margin-top: 10px;
    }
    .button {
        width: 100%;
        padding: 10px;
        background-color: #FF7700;
        color: white;
    }
    h1 {
        color: #FF7700;
    }
</style>